{% extends "base.html" %}
{% block title %}delete order {{item.id}}{% endblock %}
{% block body %}
    <div>
        <dl class="dl-horizontal">
        	<dt>Order</dt>
        	<dd>
                {{order.id}}
        	</dd>
            
        	<dt>Date created</dt>
        	<dd>
                {{item.dateCreated}}
        	</dd>

        	<dt>Delivery address</dt>
        	<dd>
                {{item.deliveryAddress}}
        	</dd>
        </dl>

    	<div class="row">
    		<form method="post" class="col-md-4">
    			<div class="form-group">
                    {% csrf_token %}
    				<input type="submit" class="btn btn-danger" value="Delete" />
    			</div>
    		</form>
            <a href="{% url "basket_page" %}" class="col-md-4">Go back</a>
    	</div>
    </div>
{% endblock %}

{% block nav %}{% endblock %}
{% block categories_nav %}{% endblock %}
{% block catalogue_nav %}{% endblock %}
{% block tags_nav %}{% endblock %}